body {
    width: auto;
}
.main-photo {
    height: 200px;
    width: 200px;
    background-image: url(./images/me.png);
    background-position: -31px -3px;
    background-size: 250px;
    background-repeat: no-repeat;
    border-radius: 50%;
}